{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap-theme.css' %}>
    <link rel="stylesheet" href={% static 'swiper/css/swiper.css' %}>

    <script src={% static 'jquery/jquery.js' %}></script>
    <script src={% static 'bootstrap/js/bootstrap.js' %}></script>
    <script src={% static 'swiper/js/swiper.jquery.js' %}></script>

    <script>
        {% block script %}
            $(document).ready(function () {
                $('#sign_in_close').click(function () {
                    $('#sign_in').fadeOut('slow');
                });
                $('#sign_in_open').click(function () {
                    $('#sign_in').fadeIn('fast');
                })
            });

        {% endblock %}
    </script>

    <style>
        {% block css %}
            #sign_in {
                width: 30%;
                border: solid 1px #aba8a4;
                border-top: solid 2px #aba8a4;
                border-left: solid 2px #aba8a4;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
            }
            #sign_in_body {
                margin: 20px 20px 0;
            }
            #sign_in_head {
                margin: 10px 20px 0;
                font-weight: bold;
            }
            #sign_in_close {
                float: right;
                color: #f00;
            }
        {% endblock %}
    </style>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sherlock</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% block navbar-right %}
                    <li id="sign_in_open"><a href="#">Sign in</a></li>
                {% endblock %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}
    <!-- biao dan -->
    <div id="sign_in">
        <div id="sign_in_head">
            <span id="sign_in_1">Sign In</span>
            <a href="#"><span class="glyphicon glyphicon-remove" id="sign_in_close"></span></a>
        </div>
        <form class="form-horizontal" id="sign_in_body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                    <a href="#" id="sign_in_up">Sign up</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

</body>
</html>
